form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2rem 0;
    gap: 0.5rem;
    align-items: center;
}
form div {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem;
}
form div label {
    text-align: end;
    padding: 0.2rem 0.4rem;
    width: 30%;
}
form div select,form div input,form div textarea {
    padding: 0.2rem 0.4rem;
    width: 40%;
    border: 1px solid black;
}
form div a {
    justify-content: center;
    min-width: 10%;
    display: flex;
    align-items: center;
    background-color: gold;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
    color: black;
}
form div textarea {
    text-align: start;
}
form button {
    padding: .4rem;
    border: none;
    background-color:lightgreen;
    border-radius: 0.2rem;
}
form button:hover {
    transform: scale(1.02);
    cursor: pointer;
    font-weight: 700;
}