nav {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 1rem;
    background-color: gold;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}
nav a:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.04);
}